<div>
    <div>
    <ngx-select-dropdown (change)="eventsFilterSelectionChanged($event)"  [multiple]="false"  [options]="eventsTypes"></ngx-select-dropdown>
    </div>
    <ngx-datatable 
    [rows]="rows" 
    [columns]="columns" 
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [selectionType]="singleSelectionType"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="page.count"
    [offset]="page.offset"
    [limit]="page.limit"
    (page)="pageCallback($event)"
    class="material table table-striped"
    (select)="onSelect($event)">
    <ngx-datatable-column name="event">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{ value }}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="eventDescription">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{ value }}</div>
        </ng-template>
      </ngx-datatable-column>
    <ngx-datatable-column name="createdDate">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{ value | date:'short' }}</div>
        </ng-template>
      </ngx-datatable-column>
   </ngx-datatable>
  </div>